@model AllWallpapersQueryModel

@{
    ViewBag.Title = "All Wallpapers";
}

<section class="hero">
    <div class="shell">
        <div class="hero__inner">
            <div class="hero__content">
                <div class="hero__title">
                    <h1>WallApp</h1>
                </div>

                <div class="hero__details">
                    <p>
                        WallApp helps creative professionals from all backgrounds and businesses of all sizes
                        produce their best work with incredible content and innovative tools, all on one platform.
                    </p>
                </div>

                <div class="section-form__filter">
                    <form method="get">
                        <div class="form-filter">
                            <div class="form__body">
                                <div class="form__col">
                                    <div class="form__label">
                                        <label asp-for="SearchTerm">Search</label>
                                    </div>

                                    <input asp-for="SearchTerm" placeholder="Search wallpapers...">
                                </div>

                                <div class="form__col">
                                    <div class="form__label">
                                        <label asp-for="Category"></label>
                                    </div>

                                    <select asp-for="Category">
                                        <option value="">All</option>
                                        @foreach (var category in Model.Categories)
                                        {
                                            <option value="@category">@category</option>
                                        }
                                    </select>
                                </div>

                                <div class="form__col">
                                    <div class="form__label">
                                        <label asp-for="Resolution"></label>s
                                    </div>

                                    <select asp-for="Resolution">
                                        <option value="">All</option>
                                        @foreach (var resolution in Model.Resolutions)
                                        {
                                            <option value="@resolution">@resolution</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form__actions">
                                <input type="submit" value="Search" class="btn btn--blue" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="posts">
    <div class="posts__feed">
        @if (Model.Wallpapers.Any()) {
            @foreach (var wallpaper in Model.Wallpapers)
            {
                <partial name="_WallpaperPartial" model="@wallpaper" />
            }
        }
        else {
            <h1>No wallpapers yet...</h1>
        }
    </div>
</section>