@model IEnumerable<WallpaperServiceModel>

@{
    ViewBag.Title = "Liked Wallpapers";
}

<section class="my-wallpapers">
    <div class="page-title">
        <div class="shell">
            <h1>Wallpapers you've liked</h1>
        </div>
    </div>

    @if (Model.Any())
    {
        <section class="posts">
            <div class="posts__feed">
                @foreach (var liked in Model)
                {
                    <div class="post">
                        <div class="post__image">
                            <a asp-area="" asp-controller="Wallpaper" asp-action="Details" asp-route-id="@liked.Id">
                                <img src="@liked.ImageUrl" alt="">
                            </a>
                        </div>

                        <div class="post__details">
                            <div class="post__author">
                                <a asp-area="" asp-controller="Wallpaper" asp-action="Details" asp-route-id="@liked.Id">@liked.Title</a>
                            </div>

                            <div class="post__actions">
                                <form asp-area="" asp-controller="Like" asp-action="Unlike"
                              asp-route-id="@liked.Id" method="post">
                                    <button type="submit" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>
                                </form>


                                <form asp-area="" asp-controller="Favorite" asp-action="Add"
                              asp-route-id="@liked.Id" method="post">
                                    <button type="submit" class="btn btn--like"><i class="fa-regular fa-star fa-xl"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    }
    else
    {
        <h2>You haven't liked anythig yet.</h2>
    }
</section>